@media (max-width: 769px) {
	body {
		overflow : scroll!important;
		padding-top: 180px;
	}
}
@media (min-width: 770px) {
	body {
		overflow : scroll!important;
		padding-top: 70px;
	}
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

pre#json_viewer {
	width : 100%;
	float : left;
	margin : 10px 0 10px 0;
}
.group_line {
	margin-top:10px;
}
#graduation {
	width: 50px;
	background-image: url("../img/graduation.png");
	min-height: 100%;
	margin: 0;
	padding: 0;
	border-radius: 0px;
	position: relative;
    top: 57px;
}
.timeline-column {
	width : 150px;
	height: 100%;
	float : left;
	border-radius: 10px;
	margin: 0 3px 0 3px;
	font-size: 10px;
}
.timeline-column p {
    margin: 5px;
}
.timeline-column .btnAddEvent {
	margin: 5px;
}
.timeline_name {
	font-weight: bold;
	font-size:11px;
}
.event {
    margin-left: 5px;
    margin-right: 5px;
	width : 140px;
	border-radius: 5px;
	position: absolute;
	transform-origin: 0 0;
}
.btnDelEvent {
	float:left;
}
.dateTypeEvent {
	float:left;
	margin-left:5px;
	min-height: 30px;
	font-weight: bold;
}
.textEvent {
	float:left;
	min-width: 139px;
}
