	<div ng-repeat="epc in tl.epochs.objects" class="epoch" id="epoch_{{epc.id}}" style="top:{{30+epc.vPlacement}}px; background-color:{{epc.color}}; border:1px solid black; height:{{epc.epoch_height}}px;" ng-class="{'epoch_open' : epc.end == null, 'epoch_close' : epc.end != null}" on-finish-render >
		<div class="btn-group btn-group-xs btnDelEvent">
			<button ng-click="showDlgEpoch(tl, epc)" class="btn btn-default">
				<span class="glyphicon glyphicon glyphicon-edit"></span>
			</button>
		</div>
		<div class="dateTypeEvent">
			{{epc.type}}
		</div>
		<div class="textEvent">
			{{epc.text}}
		</div>
	</div>
