	<div ng-repeat="eventObj in eventObj track by $index" ng-click="eventZIndex(eventObj.id)" class="event event_{{eventObj.id}}" id="event_{{eventObj.id}}" style="top:{{30+eventObj.vPlacement}}px; background-color:{{eventObj.color}}; border:1px solid black;" ng-if="eventObj.timeline == '/notebooks/timeline/' + timeLineObj.id">
		<div class="btn-group btn-group-xs btnDelEvent">
			<button ng-click="showDlgEditEvent(eventObj.id)" class="btn btn-default">
				<span class="glyphicon glyphicon glyphicon-edit"></span>
			</button>
		</div>
		<div class="dateTypeEvent">
			{{eventObj.type}}
		</div>
		<div class="textEvent">
			{{eventObj.text}}
		</div>
	</div>
