				<div class="modal fade">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" ng-click="" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title">{{title}}</h4>
				      </div>
				      <div class="modal-body">
				        <p>Enter electrode information here.</p>
						<form class="form-horizontal" role="form">
						  <div class="form-group">
						    <label for="label" class="col-sm-2 control-label">Label : </label>
						    <div class="col-sm-10">
						      <input type="label" class="form-control" id="label" name="label" placeholder="label ..." ng-model="label">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="type" class="col-sm-2 control-label">Type : </label>
						    <div class="col-sm-10">
						    	<select class="form-control" id="type" name="type" placeholder="type ..." ng-model="type" ng-options="obj.name for obj in lstTypeElectrode.objects track by obj.resource_uri">
								  <!-- <option ng-repeat="type in lstTypeElectrode.objects" value="{{type.resource_uri}}" >{{type.resource_uri}}</option> -->
								</select>
						    </div>
						  </div>
						  <div class="form-group">
						  	<label for="model" class="col-sm-2 control-label">Model : </label>
						  	<div class="col-sm-10">
								<input type="model" class="form-control" id="model" name="model" ng-model="model">
						  	</div>
						  </div>
						  <div class="form-group">
						  	<label for="version" class="col-sm-2 control-label">Version : </label>
						  	<div class="col-sm-10">
								<input type="version" class="form-control" id="version" name="version" ng-model="version">
						  	</div>
						  </div>
						  <div class="form-group">
						  	<label for="serial_or_id" class="col-sm-2 control-label">Serial or Id : </label>
						  	<div class="col-sm-10">
								<input type="serial_or_id" class="form-control" id="serial_or_id" name="serial_or_id" ng-model="serial_or_id">
						  	</div>
						  </div>
						  <div class="form-group">
						  	<label for="manufacturer" class="col-sm-2 control-label">Manufacturer : </label>
						  	<div class="col-sm-10">
						    	<select class="form-control" id="manufacturer" name="manufacturer" ng-model="manufacturer" ng-options="obj.name for obj in lstManufacturersElectrode.objects track by obj.resource_uri">
								  <!--<option ng-repeat="manufacturer in lstManufacturersElectrode.objects" value="{{manufacturer.resource_uri}}" >{{manufacturer.resource_uri}}</option>-->
								</select>
						  	</div>
						  </div>
						  <div class="form-group">
						  	<label for="notes" class="col-sm-2 control-label">Notes : </label>
						  	<div class="col-sm-10">
						  	  <textarea class="form-control" cols="40" id="notes" name="notes" ng-model="notes" rows="2"></textarea>
						  	</div>
						  </div>

						  <div class="form-group">
						  	<label for="impedance" class="col-sm-2 control-label">Impedance : </label>
						  	<div class="col-sm-10">
						  		<input type="text" class="form-control" id="impedance" name="impedance" ng-model="impedance">
						  	</div>
						  </div>
						  <div class="form-group">
						  	<label for="internal_diameter" class="col-sm-2 control-label">Internal diameter</label>
						  	<div class="col-sm-10">
						  		<input type="text" class="form-control" id="internal_diameter" name="internal_diameter" ng-model="internal_diameter">
						  	</div>
						  </div>
						  <div class="form-group">
						  	<label for="rows" class="col-sm-2 control-label">Rows : </label>
						  	<div class="col-sm-10">
						  		<input type="text" class="form-control" id="rows" name="rows" ng-model="rows">
						  	</div>
						  </div>
						  <div class="form-group">
						  	<label for="columns" class="col-sm-2 control-label">Column : </label>
						  	<div class="col-sm-10">
						  		<input type="text" class="form-control" id="columns" name="columns" ng-model="columns">
						  	</div>
						  </div>
						  <div class="form-group">
						  	<label for="step" class="col-sm-2 control-label">Step : </label>
						  	<div class="col-sm-10">
						  		<input type="text" class="form-control" id="step" name="step" ng-model="step">
						  	</div>
						  </div>
						  <span style="color:red;">{{msgAlert}}</span>
						</div>
					  </form>
				      <div class="modal-footer">
				        <button type="button" ng-click="beforeClose()" class="btn btn-primary">OK</button>
				      </div>
				    </div>
				  </div>
				</div>
