				<div class="modal fade">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" ng-click="" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title">{{title}}</h4>
				      </div>
				      <div class="modal-body">
				        <p>Enter event information here.</p>
						<form class="form-horizontal" role="form">
						  <div class="form-group">
						    <label for="text" class="col-sm-2 control-label">Text : </label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" id="text" name="text" placeholder="name ..." ng-model="text" value="{{evt_text}}">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="type" class="col-sm-2 control-label">Type : </label>
						    <div class="col-sm-10">
						    	<select class="form-control" id="type" name="type" placeholder="type ..." ng-model="type" value="{{evt_type}}">
								  <option>Type 1</option>
								  <option>Type 2</option>
								  <option>Type 3</option>
								  <option>Type 4</option>
								  <option>Type 5</option>
								</select>
						    </div>
						  </div>
							<div class="form-group">
								<label for="datetimepicker_{{evt_id}}" class="col-sm-2 control-label">Date and Time : </label>
						        <div class='col-sm-6'>
						            <div class="form-group">
						                <div class='input-group date' id='datetimepicker_{{evt_id}}'>
						                	<select ng-model="evt_day" id="datetimepicker_day_{{evt_id}}" ng-options="o for o in selectDayOpt"></select>
						                	&nbsp;/&nbsp;
						                	<select ng-model="evt_month" id="datetimepicker_month_{{evt_id}}" ng-options="o for o in selectMonthOpt" ng-selected="evt_month"></select>
						                	&nbsp;/&nbsp;
						                	<select ng-model="evt_year" id="datetimepicker_year_{{evt_id}}" ng-options="o for o in selectYearOpt" ng-selected="evt_year"></select>
						                	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						                	<select ng-model="evt_hour" id="datetimepicker_hour_{{evt_id}}" ng-options="o for o in selectHourOpt" ng-selected="evt_hour"></select>
						                	&nbsp;:&nbsp;
						                	<select ng-model="evt_min" id="datetimepicker_min_{{evt_id}}" ng-options="o for o in selectMinOpt" ng-selected="evt_min"></select>
						                </div>
						            </div>
						        </div>
						    </div>
						</form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
				        <button type="button" ng-click="delete()" class="btn">Delete</button>
				      </div>
				    </div>
				  </div>
				</div>
