				<div class="modal fade">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" ng-click="" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title">{{title}}</h4>
				      </div>
				      <div class="modal-body">
				        <p>Enter electrode information here.</p>
						<form class="form-horizontal" role="form">
						  <div class="form-group">
						    <label for="label" class="col-sm-2 control-label">Label : </label>
						    <div class="col-sm-10">
						      <input type="label" class="form-control" id="label" name="label" placeholder="name ..." ng-model="label" value="{{neuron_label}}">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="type" class="col-sm-2 control-label">Type : </label>
						    <div class="col-sm-10">
						    	<select class="form-control" id="type" name="type" placeholder="type ..." ng-model="type" value="{{neuron_type}}">
									<option ng-repeat="type in lstType.objects">{{type.name}}</option>
								</select>
						    </div>
						  </div>
							<div class="form-group">
								<label for="datetimepicker_start_{{neuron_id}}" class="col-sm-2 control-label">Start : </label>
						        <div class='col-sm-6'>
						            <div class="form-group">
						                <div class='input-group date' id='datetimepicker_start_{{neuron_id}}'>
						                	<select ng-model="start_day" id="datetimepicker_start_day_{{neuron_id}}" ng-options="o for o in selectDayOpt"></select>
						                	&nbsp;/&nbsp;
						                	<select ng-model="start_month" id="datetimepicker_start_month_{{neuron_id}}" ng-options="o for o in selectMonthOpt"></select>
						                	&nbsp;/&nbsp;
						                	<select ng-model="start_year" id="datetimepicker_start_year_{{neuron_id}}" ng-options="o for o in selectYearOpt"></select>
						                	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						                	<select ng-model="start_hour" id="datetimepicker_start_hour_{{neuron_id}}" ng-options="o for o in selectHourOpt"></select>
						                	&nbsp;:&nbsp;
						                	<select ng-model="start_min" id="datetimepicker_start_min_{{neuron_id}}" ng-options="o for o in selectMinOpt"></select>
						                </div>
						            </div>
						        </div>
						    </div>
						    <div class="form-group">
								<label for="datetimepicker_end_{{neuron_id}}" class="col-sm-2 control-label">End : </label>
						        <div class='col-sm-6'>
						            <div class="form-group">
						                <div class='input-group date' id='datetimepicker_end_{{neuron_id}}'>
						                	<select ng-model="end_day" id="datetimepicker_end_day_{{neuron_id}}" ng-options="o for o in selectDayOpt">
						                	</select>
						                	&nbsp;/&nbsp;
						                	<select ng-model="end_month" id="datetimepicker_end_month_{{neuron_id}}" ng-options="o for o in selectMonthOpt"></select>
						                	&nbsp;/&nbsp;
						                	<select ng-model="end_year" id="datetimepicker_end_year_{{neuron_id}}" ng-options="o for o in selectYearOpt"></select>
						                	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						                	<select ng-model="end_hour" id="datetimepicker_end_hour_{{neuron_id}}" ng-options="o for o in selectHourOpt"></select>
						                	&nbsp;:&nbsp;
						                	<select ng-model="end_min" id="datetimepicker_end_min_{{neuron_id}}" ng-options="o for o in selectMinOpt"></select>
						                </div>
						            </div>
						        </div>
						    </div>
	   						<div class="form-group"> <!-- ng-if="type_epoch == 'neuron'" -->
	   							<label for="properties" class="col-sm-2 control-label">Properties : </label>
							  	<div class="col-sm-10">
							  	  <textarea class="form-control" cols="40" id="properties" name="properties" ng-model="properties" rows="2"></textarea>
							  	</div>
							</div>
						</form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" ng-click="stop()" class="btn btn-danger" data-dismiss="modal">Stop</button>
				        <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
				        <button type="button" ng-click="delete()" class="btn">Delete</button>
				      </div>
				    </div>
				  </div>
				</div>
