				<div class="modal fade">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" ng-click="" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title">{{title}}</h4>
				      </div>
				      <div class="modal-body">
				        <p>Enter neuron information here.</p>
						<form class="form-horizontal" role="form">
						  <div class="form-group">
						    <label for="label" class="col-sm-2 control-label">Label : </label>
						    <div class="col-sm-10">
						      <input type="label" class="form-control" id="label" name="label" placeholder="name ..." ng-model="label">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="type" class="col-sm-2 control-label">Type : </label>
						    <div class="col-sm-10">
						    	<select class="form-control" id="type" name="type" placeholder="type ..." ng-model="type">
						  	  		<option ng-repeat="type in lstTypeNeuron.objects" value="{{type.resource_uri}}" >{{type.name}}</option>
								</select>
						    </div>
						  </div>
						  <div class="form-group">
						  	<label for="link_electrode" class="col-sm-2 control-label">Electrode : </label>
						  	<div class="col-sm-10">
						  		<select class="form-control" id="link_electrode" name="link_electrode" ng-model="link_electrode">
						  			<option value="null" selected="selected">Choose Electrode</option>
						  			<option ng-repeat="electrodeObjList in electrodeObjList track by $index"
						  			 value="{{electrodeObjList.resource_uri}}">{{electrodeObjList.label}} - {{electrodeObjList.startFormat}}</option>
						  		</select>
							</div>
						  </div>
						  <div class="form-group">
						  	<label for="properties" class="col-sm-2 control-label">Properties : </label>
						  	<div class="col-sm-10">
						  	  <textarea class="form-control" cols="40" id="properties" name="properties" ng-model="properties" rows="2"></textarea>
						  	</div>
						  </div>
						  <span style="color:red;">{{msgAlert}}</span>
						</div>
				      <div class="modal-footer">
				        <button type="button" ng-click="beforeClose()" class="btn btn-primary">OK</button>
				      </div>
				    </div>
				  </div>
				</div>
