	<div ng-repeat="protocolObj in protocolObj track by $index" ng-click="protocolZIndex(protocolObj.id)" class="epoch protocol_{{protocolObj.id}}" ng-class="{'epoch_open' : protocolObj.end == null, 'epoch_close' : protocolObj.end != null}" id="protocol_{{protocolObj.id}}" style="top:{{30+protocolObj.vPlacement}}px; background-color:{{protocolObj.color}}; border:1px solid black; height:{{protocolObj.epoch_height}}px;" ng-if="protocolObj.timeline == '/notebooks/timeline/' + timeLineObj.id">
		<div class="btn-group btn-group-xs btnDelEvent">
			<button ng-click="showDlgEditProtocol(protocolObj.id, timeLineObj.name)" class="btn btn-default">
				<span class="glyphicon glyphicon glyphicon-edit"></span>
			</button>
		</div>
		<div class="dateTypeEvent">
			{{protocolObj.type}}
		</div>
		<div class="textEvent">
			{{protocolObj.text}}
		</div>
	</div>
