
        <div ng-controller="timeLineVisualController" ng-init="fromJSON()">
            <!--<button ng-click="showDlgAddTimeLine()" class="btn btn-default">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>-->
	        <button ng-click="toJSON()" class="btn btn-default">
                <span class="glyphicon glyphicon-floppy-save"></span>
            </button>
            <button ng-click="" class="btn btn-default">Min</button>
            <button ng-click="" class="btn btn-default">Hour</button>
            <button ng-click="" class="btn btn-default">Day</button>
            <div>&nbsp;</div>
            <div id="placeholder">
                <div class="group_line" time-line-dir></div>
            </div>
        </div>
