
        <div ng-controller="timeLineVisualController" ng-init="fromJSON()">
            <!--<button ng-click="showDlgAddTimeLine()" class="btn btn-default">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>-->
	        <button ng-click="toJSON()" class="btn btn-default">
                <span class="glyphicon glyphicon-floppy-save"></span>
            </button>
            <!--<div class="form-group">
                <label for="displayScaleEvents" class="col-xs-4 col-sm-3 control-label">
                    Display Scale : 1 px /
                </label>
                <div class="col-xs-5 col-sm-3">
                    <input type="number" min="1" value="1" class="form-control" id="displayScaleEvents" name="displayScaleEvents" placeholder="scale ..." ng-model="displayScaleEvents" ng-change="changeScaleEvents()">
                </div>
                <div class="col xs-2 col-sm-1" style="font-weight: bold;">
                    {{px_sec}} Sec
                </div>
            </div>-->
            <div>&nbsp;</div>
            <div id="placeholder">
                <div class="group_line" time-line-dir></div>
            </div>
        </div>
