
<div style="display:block; width:1300px;">
	<div id="graduation" class='timeline-column'>
		<span class="timeline_name" style="height:100%">&nbsp;</span><br />
		<div ng-repeat="eventObj in eventObj track by $index" ng-click="eventZIndex(eventObj.id)" class="event event_{{eventObj.id}}" id="event_{{eventObj.id}}" style="top:{{57+eventObj.vPlacement}}px; background-color:{{eventObj.TimeLineColor}}; border:1px solid black;" ng-if="'/#/timeline' + eventObj.TimeLineExp == window.location.hash">
			<div ng-click="toogleEvtLeft()">
				{{eventObj.dateFormat}}
			</div>
			<div class="textEventLeft">
				{{eventObj.type}}<br />
				{{eventObj.text}}
			</div>
		</div>
	</div>
	<div ng-repeat="timeLineObj in timeLineObj | orderBy :'name'" ng-show="timeLineObj" number='{{timeLineObj.id}}' id='timeline_{{timeLineObj.id}}' class='timeline-column' style="background-color:{{timeLineObj.color}}; height:{{timeLineObj.height}}px;" >
		<p>
			<span class="timeline_name">{{timeLineObj.name}}</span><br />
			<div class="btn-group btn-group-xs btnAddEvent">
				<button ng-click="showDlgAddEvent(timeLineObj.id, timeLineObj.date)" class="btn btn-default">
					<span class="glyphicon glyphicon-plus-sign"></span>
				</button>
			</div>
			<!--<button ng-click="showConfirmRemoveTimeline(timeLineObj.id)" class="btn btn-default">
				<span class="glyphicon glyphicon-minus-sign"></span>
			</button>-->
			<div class="btn-group btn-group-xs btnRemEvent" ng-if="timeLineObj.displayEpoch == 1">
				<button ng-click="" class="btn btn-default">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
		</p>
		<div event-dir></div>
	</div>
</div>

  <div class="form-group" id="error_val_type" style="display:none;">
  	<p>Select Type value before validate</p> 
  </div>
