<!DOCTYPE html>
<html>
    <head>
        <title>Experiments</title>
        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="js/jquery.spin.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/angular-resource.js"></script>
        <script type="text/javascript" src="js/angular-route.js"></script>
        <script type="text/javascript" src="js/angular-cookies.js"></script>
        <script type="text/javascript" src="js/ui-bootstrap-tpls-0.12.1.min.js"></script>
        <script type="text/javascript" src="js/angular-modal-service.js"></script>
        <script type="text/javascript" src="js/bootbox.min.js"></script>
        <script type="text/javascript" src="js/date.format.js"></script>
        <script type="text/javascript" src="js/moment.js"></script>
        <script type="text/javascript" src="js/fr.js"></script>
        <script type="text/javascript" src="js/en-gb.js"></script>
        <script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
        <script type="text/javascript" src="js/flipclock.min.js"></script>

        <script type="text/javascript" src="people/model.js"></script>
        <script type="text/javascript" src="login/controllers.js"></script>
        <script type="text/javascript" src="login/model.js"></script>

        <script type="text/javascript" src="animal/controllers.js"></script>
        <script type="text/javascript" src="animal/model.js"></script>

        <script type="text/javascript" src="preparation/controllers.js"></script>
        <script type="text/javascript" src="preparation/model.js"></script>

        <script type="text/javascript" src="experiments/controllers.js"></script>
        <script type="text/javascript" src="experiments/model.js"></script>

        <script type="text/javascript" src="timeline/model.js"></script>
        <script type="text/javascript" src="timeline/controllers.js"></script>
        <script type="text/javascript" src="timeline/dict/display_epoch_btn.js"></script>

        <script type="text/javascript" src="electrode/model.js"></script>
        <script type="text/javascript" src="electrode/controllers.js"></script>

        <script type="text/javascript" src="neuron/model.js"></script>
        <script type="text/javascript" src="neuron/controllers.js"></script>

        <script type="text/javascript" src="protocol/model.js"></script>
        <script type="text/javascript" src="protocol/controllers.js"></script>

        <script type="text/javascript" src="app.js"></script>

        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/timeline_visual.css">
        <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="css/flipclock.css">
    </head>
    <body ng-app="mainApp">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <span class="navbar-brand" href="#"><strong>H</strong></span>
            <ul class="nav navbar-nav" ng-show="showLogout">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Experiments data <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="" href="#/animal_list">Animals</a></li>
                        <li><a ng-click="" href="#/preparation_list">Preparations</a></li>
                        <li><a ng-click="" href="#/experiment">Experiments</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="" href="#/electrode_list">Electrode</a></li>
                        <li><a ng-click="" href="#/neuron_list">Cells</a></li>
                        <li><a ng-click="" href="#/protocol_list">Protocol</a></li>
                    </ul>
                </li>
            </ul>
            <div ng-show="showLogout" class="nav navbar-form navbar-right form-group">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
                    <input type="search" class="form-control" placeholder="Filter" ng-model="query">
                </div>
            </div>
            <div ng-show="showLogout" class="nav navbar-right">
                <button class="btn btn-primary navbar-btn" ng-click="removeAuthorization()"><span class="glyphicon glyphicon-log-out"></span> &nbsp; {{username}}</button>
            </div>
        </div>
        <!--<div class="container">-->
            <div ng-view></div>
        <!--</div>-->
    </body>
</html>
