<!DOCTYPE html>
<html>
    <head>
        <title>DynamicDirective</title>
        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/timeline_visual.js"></script>
        <script type="text/javascript" src="js/ui-bootstrap-tpls-0.12.1.min.js"></script>
        <script type="text/javascript" src="js/angular-modal-service.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/timeline_visual.css">
    </head>
    <body ng-app="myapp">
        <div ng-controller="mainController">
            <button ng-click="addTimeline()" class="btn">+</button>
	        <button ng-click="syncJSON()" class="btn">Synchronize JSON</button>
            <div id="placeholder">
                <div class="group_line" time-line-dir></div>
            </div>
            <pre id="json_viewer">{{jsonContent}}</pre>
        </div>
    </body>
</html>