				<div class="modal fade">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" ng-click="" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title">{{title}}</h4>
				      </div>
				      <div class="modal-body">
				      	<form class="form-horizontal" role="form">

						  <div class="form-group">
						  	<div class="col-md-6">
							    <label for="identifier" class="col-sm-4 control-label">Identifier </label>
							    <div class="col-sm-8">
							      <input class="form-control" id="identifier" name="identifier" placeholder="name ..." ng-model="animal.identifier">
							    </div>
							</div>
							<div class="col-md-6">
							    <label for="nickname" class="col-sm-4 control-label">Nickname </label>
							    <div class="col-sm-8">
							      <input class="form-control" id="nickname" name="nickname" placeholder="nickname ..." ng-model="animal.nickname">
							    </div>
							</div>
						  </div>

						  <div class="form-group">
							  <div class="col-md-6">
							    <label for="weight" class="col-sm-4 control-label">Weight (Kg) </label>
							    <div class="col-sm-8">
							      <input class="form-control" id="weight" name="weight" placeholder="weight ..." ng-model="animal.weight">
							    </div>
							  </div>

							  <div class="col-md-6">
							    <label for="sex" class="col-sm-4 control-label">Sex </label>
							    <div class="col-sm-8">
							  	  <select class="form-control" id="supplier" name="supplier" ng-model="animal.sex">
							  	  	<option value="M">M</option>
							  	  	<option value="F">F</option>
							  	  </select>
							    </div>
							  </div>
						  </div>
						  <div class="form-group">
							  <div class="col-md-6">
							    <label for="birth" class="col-sm-4 control-label">Birth </label>
							    <div class="col-sm-8">
							    	<div class='input-group date' id='datetimepicker'>
										<input class="form-control birth" id="birth" name="birth" placeholder="birth ..." ng-model="animal.birth" readonly />
									</div>
							    </div>
							  </div>
								<script type="text/javascript">
									$('.birth').datetimepicker({
								        language:  'fr',
								        weekStart: 1,
								        todayBtn:  1,
										autoclose: 1,
										todayHighlight: 1,
										startView: 2,
										minView: 0,
										maxView: 1,
										format: 'yyyy-mm-dd',
										forceParse: true,
										initialDate: new Date().format('yyyy-mm-dd')
									})
								</script>

							  <div class="col-md-6">
							    <label for="sacrifice" class="col-sm-4 control-label">Sacrifice </label>
							    <div class="col-sm-8">
							    	<div class='input-group date' id='datetimepicker'>
								    	<input class="form-control sacrifice" id="sacrifice" name="sacrifice" placeholder="sacrifice ..." ng-model="animal.sacrifice" readonly />
								    </div>
							    </div>
							  </div>
						  </div>
  							<script type="text/javascript">
								$('.sacrifice').datetimepicker({
							        language:  'fr',
							        weekStart: 1,
							        todayBtn:  1,
									autoclose: 1,
									todayHighlight: 1,
									startView: 2,
									minView: 0,
									maxView: 1,
									format: 'yyyy-mm-dd',
									forceParse: true,
									initialDate: new Date().format('yyyy-mm-dd')
								})
							</script>
						</form>
  				      </div>

					  <div class="modal-footer">
						<div class="col-md-12" style="text-align:left;">
							<span style="color:red;">&nbsp{{msgAlert}}</span>
						</div>
				        <button type="button" ng-click="beforeClose()" class="btn btn-primary">OK</button>
				        <!--<button type="button" ng-click="delete()" class="btn btn-danger" ng-if="edition==true">Delete</button>-->
					  </div>
				    </div>
				  </div>
				</div>
