				<div class="modal fade">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" ng-click="" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title">{{title}}</h4>
				      </div>
				      <div class="modal-body">
				      	<form class="form-horizontal" role="form">
						  <div class="form-group">
						    <label for="identifier" class="col-sm-2 control-label">Identifier : </label>
						    <div class="col-sm-10">
						      <input type="identifier" class="form-control" id="identifier" name="identifier" placeholder="name ..." ng-model="animal.identifier">
						    </div>
						  </div>

						  <div class="form-group">
						    <label for="nickname" class="col-sm-2 control-label">Nickname : </label>
						    <div class="col-sm-10">
						      <input type="nickname" class="form-control" id="nickname" name="nickname" placeholder="nickname ..." ng-model="animal.nickname">
						    </div>
						  </div>

						  <div class="form-group">
						    <label for="weight" class="col-sm-2 control-label">Weight : </label>
						    <div class="col-sm-10">
						      <input type="weight" class="form-control" id="weight" name="weight" placeholder="weight ..." ng-model="animal.weight">
						    </div>
						  </div>

						  <div class="form-group">
						    <label for="sex" class="col-sm-2 control-label">Sex : </label>
						    <div class="col-sm-10">
						  	  <select class="form-control" id="supplier" name="supplier" ng-model="animal.sex">
						  	  	<option value="M">M</option>
						  	  	<option value="F">F</option>
						  	  </select>
						    </div>
						  </div>

						  <div class="form-group">
						    <label for="birth" class="col-sm-2 control-label birth">Birth : </label>
						    <div class="col-sm-10">
						      <div class='input-group date' id='datetimepicker'>
						    	<input type="birth" class="form-control" id="birth" name="birth" placeholder="birth ..." ng-model="animal.birth">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							  </div>
						    </div>
						  </div>
							<script type="text/javascript">
								$('.birth').datetimepicker({
							        language:  'fr',
							        weekStart: 1,
							        todayBtn:  1,
									autoclose: 1,
									todayHighlight: 1,
									startView: 2,
									minView: 0,
									maxView: 1,
									format: 'yyyy-mm-dd',
									forceParse: true,
									//initialDate: new Date(animal.birth)
							    });
							</script>

						  <div class="form-group">
						    <label for="sacrifice" class="col-sm-2 control-label">Sacrifice : </label>
						    <div class="col-sm-10">
						      <input type="sacrifice" class="form-control" id="sacrifice" name="sacrifice" placeholder="name ..." ng-model="animal.sacrifice">
						    </div>
						  </div>
						</form>
						<span style="color:red;">{{msgAlert}}</span>
  				      </div>

					  <div class="modal-footer">
				        <button type="button" ng-click="beforeClose()" class="btn btn-primary">OK</button>
				        <button type="button" ng-click="delete()" class="btn btn-danger" ng-if="edition==true">Delete</button>
					  </div>
				    </div>
				  </div>
				</div>